extends layout

block content
  #loginPage(data-role='page')
    div(data-role='header' data-theme='b')
        h1 mobility accesss
    div(data-role='content')
      p
        a#fblogin(data-role='button' data-transition='slide') facebook login
        a(href='#mainPage' data-role='button' data-transition='slide') private login
  #mainPage(data-role='page')
    div(data-role='header' data-theme='b')
      a(href='#loginPage' data-role='button' data-icon="arrow-l" data-iconpos="left" data-inline="true") Zurück
      h1#mainTitle mobility accesss
      a#js_direction(href='#directionPage' data-role='button' data-icon="arrow-r" data-iconpos="right" data-inline="true" data-transition='slide' class='ui-disabled') Streckeninfo
    div#mainContent(data-role='content')
      #control
        #js_geolocation.geo
        #js_start.nav-elem
          label(for='text-basic') Start:
          input#text-basic(type='text', name='text-basic', value='')
        #js_end.nav-elem
          label(for='text-basic') Ziel:
          input#text-basic(type='text', name='text-basic', value='')
        #js_mode.nav-elem
          b Ich 
          select#mode
            option(value='WALKING') gehe zu Fuß
            option(value='BICYCLING') nutze das Fahrrad
            option(value='DRIVING') nehme mein Auto
            option(value='DRIVING-CARSHARING') nutze Car-Sharing
            option(value='DRIVING-CARPOOLING') suche eine Mitfahrgelegenheit
            option(value='TRANSIT') fahre mit der Bahn
      #map-canvas
      div  
        img#userImage
    div#detailFooter(data-role='footer' data-theme='b')
      h4#js_carinfo
        a(href='#poolingPopup' data-rel='popup') Open dialog
    #poolingPopup(data-role='popup' data-overlay-theme="a" data-position-to="window")
      div(data-role='header' data-theme='b')
        h1 mobility accesss
      #poolingContent(data-role='content')
        h3 freund gefunden
        p some text
        a(href='#' data-role='button' data-rel='back' data-theme='c' data-inline='true') Cancel
        a(href='#' data-role='button' data-rel='back' data-theme='b' data-inline='true') OK
  #directionPage(data-role='page')
    div(data-role='header' data-theme='b')
      a(href='#mainPage' data-role='button' data-icon="arrow-l" data-iconpos="left" data-inline="true" data-transition='slide') Zurück
      h1 Streckeninfo
    div(data-role='content')
      #directions-panel
