extends layout

block content
  #loginPage(data-role='page')
    div(data-role='header')
        h1 Foo
    div(data-role='content')
      label(for='text-basic') Text input:
      input#text-basic(type='text', name='text-basic', value='')
      p
        a#fblogin(data-role='button' data-theme='b' data-transition='slide') bar
    div(data-role='footer')
      h4 Page Footer

  #mainPage(data-role='page')
    div(data-role='header')
      a(href='#loginPage') Zurück zum Login
      h1#mainTitle Bar
      a(href='#directionPage' data-role='button' data-icon="arrow-r" data-iconpos="right" data-inline="true" data-transition='slide') Route
    div#mainContent(data-role='content')
      #control
        #js_start.nav-elem
          label(for='text-basic') Start:
          input#text-basic(type='text', name='text-basic', value='')
        #js_end.nav-elem
          label(for='text-basic') Ziel:
          input#text-basic(type='text', name='text-basic', value='')
        #js_mode.nav-elem
          b Modus 
          select#mode(onchange='calcRoute();')
            option(value='DRIVING') Driving
            option(value='WALKING') Walking
            option(value='BICYCLING') Bicycling
            option(value='TRANSIT') Transit
      #map-canvas
      div  
        img#userImage
    div(data-role='footer')
      h4 Page Footer
  #directionPage(data-role='page')
    #directions-panel
