
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainPage, #maps-wrapper, #mainContent {
  height: 100%;
  width: 100%;
  padding: 0;
}

#mainPage .ui-header, 
#mainPage .ui-footer {
  height: 40px;
  position: absolute;
  left: 0;
  width: 100%;
}

.poolingContent h3 {
  margin: 0 0 15px 0;
}

.ui-header, 
.ui-footer,
.ui-btn-text {
  -webkit-font-smoothing: antialiased;
}

#mainPage .ui-header {
  top: 0;
}

#mainPage .ui-footer {
  bottom: 0;
}

.ui-select .ui-btn-inner {
  padding: .5em 10px;
}

.ui-btn-inner {
  z-index: 2;
}

#mainContent {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

#map-canvas {
  position: absolute;
  left: 0px;
  top: 40px;
  bottom: 30px;
  right: 0px;
  overflow: hidden;
  z-index: 0;
}

#directions-panel {
  height: 100%;
  float: right;
  overflow: auto;
}

#control {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}

#control .nav-elem {
  display: inline-block;
}

#control .nav-elem > div {
  margin: 0 4px 0 0;
  display: inline-block; 
}

#control .nav-elem > label {
  margin: 0 4px 0 5px;
  display: inline-block; 
}

#control .nav-elem-mode > label {
  line-height: 11px;
}

#control .geo {
  width: 35px;
  height: 35px;
  background: #fff url('/images/geo-icon.png') no-repeat 0 0;
  vertical-align: top;
  margin: 2px 7px 0px 5px;
  cursor: pointer;
  display: inline-block;
}

#poolingPopupRoute .dialogHeadline.ui-header,
#poolingPopup .dialogHeadline.ui-header  {
  height: 60px;
  position: relative;
}

#mainPage .dialogHeadline img {
  position: absolute;
  left: 5px;
  top: 5px;
}

#mainPage .dialogHeadline h1 {
  margin: 20px 10px 5px 55px;
}

.nav-elem-mode .ui-btn-text span {
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
}

.nav-elem-mode .ui-btn-inner {
  padding-left: 5px;
}

.pac-container:after{ 
  content:none !important; 
}

.carbook {
  color: #fff;
  background: #009fe4;
  text-shadow: none;
  float: right;
  margin-top: 3px;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 6px;
  line-height: 17px;
}

.carbook:hover {
  background: #007fc4; 
}

@media screen and (max-width: 800px) {
  #control {
    width: 204px;
  }
  #control .geo {
    position: absolute;
    right: -2px;
    top: 2px;
    width: 30px;
    height: 30px;
    background-position: -2px -2px;
  }
  #control label {
    width: 28px;
    text-align: right;
    font-size: 11px;
  }
  #control .nav-elem-start {
    margin-bottom: 5px;
  }
  #control .nav-elem-mode {
    margin-left: 32px;
  }
  #control .nav-elem > div input {
    font-size: 11px;
  }
  #control .nav-elem-mode .ui-btn-text span {
    font-size: 11px;
  }
  #control .nav-elem-mode > label {
    display: none;
  }
}
Matched CSS Rules
.nav-elem-mode .ui-btn-text span
}